/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Roboto&display=swap');


html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    text-align: center;
    margin: 0;
}

#title {
    text-align: center;
    color: #E21B27;
    height: 10%;
    font-family: 'Gemunu Libre', sans-serif;
}

/* rules for main flexbox container */
#main_container {
    display: flex;
    width: 75%;
    height: 80vh;
    margin: 5% auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: space-between;
}

/* universal box rules */
.box {
    box-sizing: border-box;
    border: 3px solid #E21B27;
}

/* flexbox item rules */
#main_game_box {
    width: 100%;
    height: 40%;
}

#info_box {
    width: 100%;
    height: 20%;
}

#score_box {
    width: 100%;
    height: 20%;
}

/* main game box content rules */
.text_box {
    border: 1px solid #212941;
}

#word_display {
    color: #212941;
    width: 60%;
    height: 20%;
    margin: 5% auto;
    font-size: 1.6rem;
}

#word_input {
    color: #212941;
    width: 60%;
    height: 20%;
    margin: 5% auto;
    text-align: center;
    font-size: 1.4rem;
}

/* game bar flexbox container rules */
#game_bar_container {
    display: flex;
    width: 90%;
    height: 15%;
    margin: 3% auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* game bar content */
.icons {
    width: 10%;
}

#progress {
    width: 50%;
    height: 75%;
    background-color: grey;
}

#bar {
    width: 1%;
    height: 100%;
    background-color: green;
  }

#wpm_display {
    width: 30%;
    margin: 0;
}


/* info box content rules */
#button_bar {
    display: flex;
    width: 90%;
    height: 30%;
    margin: 5% auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    height: 100%;
    width: 33%;
}

#info_title {
    margin: 5% auto;
}

footer {
    width: 100vw;
    height: 4vh;
    position: fixed;
    bottom: 0;
    background-color: #E21B27; 
}