/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Roboto&display=swap');

/* universal html rules */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

/* body universal rules */
body {
    text-align: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #E1EEF3;
}

/* heading title rules */
#title {
    text-align: center;
    color:  #232428;
    height: 5%;
    font-family: 'Gemunu Libre', sans-serif;
    margin: 2% auto;
}

/* rules for main flexbox container */
#main_container {
    display: flex;
    width: 90%;
    height: 85%;
    margin: 2% auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: space-around;
}

/* universal box rules */
.box {
    box-sizing: border-box;
    border: 3px solid  #232428;
    background-color: #C7E4E8;
    border-radius: 5px;
}

/*  main flexbox  container item rules */
#main_game_box {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    background-color: #C7E4E8; 
}

#info_box {
    width: 100%;
    height: 25%;
}

#score_box {
    width: 100%;
    height: 30%;
    display: block;
    overflow-x: auto;
}

/* main game box content rules */
.text_box {
    border: 2px solid #232428;
    border-radius: 5px;
    background-color: #E1EEF3;
    color:  #232428;
}

#word_display {
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#word_display_string {
    margin: 0;
    font-size: 8vw;
}

#word_input {
    width: 60%;
    height: 15%;
    text-align: center;
    font-size: 5vw;
    overflow:hidden;
}

#word_input:focus {
    border: 3px solid #232428;
    outline: none;
}

/* game bar flexbox container rules */
#game_bar_container {
    display: flex;
    width: 90%;
    height: 15%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* game bar content */
#info_button, #play_button {
    color: #232428;
}

#progress {
    width: 50%;
    height: 75%;
    background-color:  #939FA1;
}

#bar {
    width: 0%;
    height: 100%;
    background-color: green;
  }

#wpm_display {
    width: 30%;
    margin: 0;
    font-size: 5vw;
}


/* info box content rules */
#button_bar {
    display: flex;
    width: 90%;
    height: 30%;
    margin: 5% auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* button rules */
.btn {
    height: 100%;
    width: 33%;
    border: 2px solid  #939FA1;
    border-radius: 5px;
    background-color:    #232428;
    color:  #E1EEF3;
}

#info_title {
    margin: 3% auto;
    width: 90%;
    height: 35%;
    font-size: 5vw;
    color:  #232428;
}

/* highscore table content */
#highscore_table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    background-color: #C7E4E8;
    color:  #232428;
}

/*  table border rules */
th, td {
    border: 2px solid  #939FA1;
  }

/* pop up container rules */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

/* pop up content */
.popup_content {
    background-color:   #C7E4E8;
    margin:  15% auto;
    padding: 5%;
    border: 3px solid#232428;
    border-radius: 5px;
    color:    #232428;
    width: 70%;
    height: 50%;
    box-shadow: 20px 20px 20px  black;
    animation-name: slide_in;
    animation-duration: 2s;
}

#popup_title {
    margin: 3% auto;
    font-size: 8vw;
}

li {
    margin: 2% auto;
    font-size: 5vw;
    text-align:start;
}

/* animation for pop up */
@keyframes slide_in {
    from {margin: -50% auto; opacity: 0; box-shadow: 0px 0px 0px black;}
    to {margin: 15% auto; box-shadow: 20px 20px 20px black;}
}

/* exit button */
#exit_popup {
    color: grey;
    float: right;
}

/* exit button hover/focus  */
#exit_popup:hover, 
#exit_popip:focus {
    color: black;
    cursor: pointer;
}

/* footer  */
footer {
    width: 100vw;
    height: 4%;
    position: fixed;
    bottom: 0;
    background-color:  #232428;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* footer icon rules */
.footer_icon {
    height: 80%;
    margin:0 3%;
    color:   #FFFFFF;
}

/* name trademark rules */
#trademark {
    height: 80%;
    margin:0 3%;
    color:   #FFFFFF;
}

/* for compareStrings function */
.correct {
    color: green;
  }
  
  .incorrect {
    color: red;
    text-decoration: underline;
  }

/* laptop size screen media query */
@media screen and (min-width: 1025px) {

    /* main flexbox container rules */
    #main_container {
        align-content: space-around;
        align-items: center;
        justify-content: space-evenly;
    }

    /* main game box text size rules */
    #word_display_string {
        font-size: 3vw;
    }
    
    #word_input {
        font-size: 2vw;
    }
    
    #wpm_display {
        font-size: 2vw;
        width: 25%;
    }

    /* info box rules */
    #info_box {
        width: 48%;
        height: 35%;
    }
    
    /* score box rules */
    #score_box {
        width: 48%;
        height: 35%;
    }

    /* footer rules */
    footer {
        justify-items: flex-start;
    }
}